.card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 25px;
    max-width: 450px;
    margin: 30px auto;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    border-bottom: 2px solid var(--main-color);
    padding-bottom: 10px;
}

.card h2 span {
    color: #8046b9;
}

.card p {
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.card p strong {
    font-weight: 600;
    color: #8046b9;
}

.appointments .card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.appointments .card span {
    margin-bottom: 20px;
}