section.head {
    height: 500px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
}

section.head h1 {
    color: white;
    font-size: 50px;
    margin-bottom: 185px;
}

section.head .input {
    height: 50px;
    width: 40%;
    display: flex;
    border-radius: 16px;
    overflow: hidden;
    align-items: center;
    margin-top: 10px;
}

section.head .input input {
    height: 93%;
    width: 85%;
    border: none;
    padding-left: 10px;
}

section.presentation {
    padding: 0 5%;
    max-width: 1400px;
    margin: auto;
    padding: 80px 0
}

section.presentation .title {
    text-align: center;
}

section.presentation h2 {
    font-size: 36px;
    color: var(--main-color);
}

section.presentation .infos {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

section.presentation .infos div {
    width: 50%;
}

section.presentation .infos .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

section.presentation .infos .img-container img {
    width: 75%;
    border-radius: 12px;
}

section.presentation .infos .text-container {
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column;
    padding: 15px;
}

section.presentation .infos .text-container p {
    line-height: 30px;
}

section.presentation .infos .text-container h3 {
    color: var(--main-color);
}

section.services {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    color: white;
    height: 200px;
}

section.services h2 {
    color: white;
    font-size: 28px;
}

section.services h2:hover {
    color: var(--main-color);
}

section.carousel {
    padding: 80px 0;
}

.carousel {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.slick-carousel {
    display: flex;
    justify-content: center;
}

.slick-carousel img {
    width: 80%;
    object-fit: cover;
    aspect-ratio: 10 / 16;
}